---
export interface CardItem {
  href: string;
  title: string;
  date: Date;
  description: string;
}

interface Props {
  items: CardItem[];
  emptyText?: string;
}

const { items, emptyText = "the empty void of nothing" } = Astro.props;
---

{
  items.length === 0 ? (
    <p class="text-primary text-sm">{emptyText}</p>
  ) : (
    <div class="flex flex-col gap-y-2">
      {items.map((item) => (
        <a
          href={item.href}
          class="card-link flex flex-col gap-1 border-2 border-tertiary/50 py-4 px-3 rounded-l bg-tertiary/10 hover:bg-tertiary/20 transition-colors"
        >
          <div class="flex items-baseline justify-between">
            <div class="flex flex-col items-start justify-between h-full w-full gap-y-2">
              <span class="text-primary font-bold underline uppercase">{item.title}</span>
              <p class="text-secondary text-sm m-0">{item.description}</p>
            </div>

            <time
              class="text-tertiary text-xs self-start shrink-0"
              datetime={item.date.toISOString()}
            >
              {item.date.toISOString().slice(0, 10)}
            </time>
          </div>
        </a>
      ))}
    </div>
  )
}

<style>
  .card-link,
  .card-link:hover,
  .card-link:focus,
  .card-link:focus-visible,
  .card-link:active {
    text-decoration: none;
  }
</style>
